<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/global.css') }}" />
		<title>NotaLog - Cadastrar Fornecedor</title>
	</head>
	<body>
		{% if cadastrado %}
		<div class="container">
			<h3>{{cadastrado}}</h3>
		</div>
		{% endif %}

		<div class="container">
			<a href="/">Voltar</a>

			<h2>Formulário de Cadastro de Fornecedor</h2>

			<form action="/fornecedor" method="post">
				<label for="nome">Nome do Fornecedor:</label>
				<input type="text" id="nome" name="nome" />

				<label for="endereco">Endereço:</label>
				<input type="text" id="endereco" name="endereco" />

				<button type="submit">Cadastrar fornecedor</button>
			</form>
		</div>
	</body>
</html>
