<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/global.css') }}" />
		<title>NotaLog</title>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<center>
					<h1>NotaLog - Home</h1>
				</center>
			</div>
			<div style="display: flex; flex-direction: column; gap: 2rem">
				<a href="/cliente">Cadastrar cliente</a>
				<a href="/produto">Cadastrar produto</a>
				<a href="/fornecedor">Cadastrar fornecedor</a>
				<a href="/nota-fiscal">Gerar nota fiscal</a>
			</div>
		</div>
	</body>
</html>
