<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/global.css') }}" />
		<title>NotaLog - Nota Fiscal</title>
	</head>
	<body>
		<div class="container">
			<a href="/nota-fiscal">Voltar</a>

			<h2>Nota Fiscal</h2>

			{% if nota is iterable and nota|length == 0 %}
			<p>Não foi possível gerar Nota Fiscal.</p>
			{% else %}
			<table border="1">
				<tr>
					<td>Cliente</td>
					<td>Endereco</td>
					<td>Fornecedor</td>
					<td>EnderecoFornecedor</td>
					<td>Produtos</td>
					<td>Total</td>
					<td>ICMS</td>
					<td>ISS</td>
					<td>PIS</td>
					<td>PASEP</td>
					<td>COFINS</td>
					<td>CSLL</td>
					<td>IRPJ</td>
					<td>INSS</td>
					<td>Total Com Impostos</td>
				</tr>
				<tr>
					<td>{{ nota[0]["Cliente"] }}</td>
					<td>{{ nota[0]["Endereco"] }}</td>
					<td>{{ nota[0]["Fornecedor"] }}</td>
					<td>{{ nota[0]["EnderecoFornecedor"] }}</td>
					<td>{{ nota[0]["Produtos"] }}</td>
					<td>{{ nota[0]["Total"] }}</td>
					<td>{{ nota[0]["ICMS"] }}</td>
					<td>{{ nota[0]["ISS"] }}</td>
					<td>{{ nota[0]["PIS"] }}</td>
					<td>{{ nota[0]["PASEP"] }}</td>
					<td>{{ nota[0]["COFINS"] }}</td>
					<td>{{ nota[0]["CSLL"] }}</td>
					<td>{{ nota[0]["IRPJ"] }}</td>
					<td>{{ nota[0]["INSS"] }}</td>
					<td>{{ nota[0]["TotalComImpostos"] }}</td>
				</tr>
			</table>
			{% endif %}
		</div>
	</body>
</html>
